html,
body {
    height: 100%;
    padding-top:35px;
}

header {
    min-height:100px;
    padding-bottom:20px;
}

#topNav {
    z-index:-1;
}

#nav {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:10;
    height:54px;
    background-color:#f8f8f8;
}
 
.navbar-nav {
    margin: 1px 1px; 
}  

.navbar-toggle {
    outline:0;
}
