html,
body {
    height: 100%;
    padding-top:35px;
    position: relative;
}

header {
    min-height:100px;
    padding-bottom:20px;
}

#topNav {
    z-index:-1;
}

#nav {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:10000;
    height:54px;
    background-color:#f8f8f8;
}
 
.navbar-nav {
    margin: 1px 1px; 
}  

.navbar-toggle {
    outline:0;
}

/* OpenLayer OSM attribution fix */
div.olControlAttribution, div.olControlScaleLine {
    font-family: Verdana;
    font-size: 0.7em;
    bottom: 1px;
}

/* Timeline */

.outerwrapper {
    width: 100%;
    margin: 0 auto;	
    position: relative;
    padding-top:20px;
    padding-bottom:10px;
}

.outerwrapper .visually-hidden {
    width:1px;
    height:1px;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.outerwrapper .timeline {
    height: 260px;
}

.outerwrapper .timeline-header {
    position: absolute;
    left: 150px;
    width: 990px;
    height: 140px;
    z-index: 10;
}

.outerwrapper .info-box {
    position: relative;
    top: 0px;
    height: 70px;
    opacity: 1;
    background: white;
    overflow: hidden;
}

.outerwrapper div[class^='event'] {
    position: relative;
    float: left;
    width: 1140px;
    padding: 0px 1px;
}

.outerwrapper .tooltip {
    display:none;
    position: absolute; 
    top: 110px;
    width: 135px;
    z-index: 999;
    margin-left: -75px;
    padding: 10px;
    background-color: #5E5E5E;
    text-align:center;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;                  
    -moz-transition: opacity 0.3s ease;                 
    -o-transition: opacity 0.3s ease;   
    -ms-transition: opacity 0.3s ease;          
    transition: opacity 0.3s ease;               
}

.outerwrapper .tooltip:after {
    content: "";
    position:absolute;
    z-index: 1000;
    bottom: -8px;
    left: 50%;
    margin-left: -12px;
    border-top: 10px solid #5E5E5E;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0;
}

.outerwrapper .tooltip p {
    margin: 0;
    color: #FFF;
}

#poi2 div[class^='singlePOI-'] {
    padding: 10px;
}

/* SVG
----------------------------------*/

.outerwrapper svg text {
	font: 13px sans-serif;
}

.outerwrapper svg .axis text, .outerwrapper svg .year-axis text {
	font: 11px sans-serif;
}

.outerwrapper svg .axis path, .outerwrapper svg .year-axis path {
	fill: none;
	stroke: none;
}

.outerwrapper svg .axis line {
	fill: none;
	stroke: #999999;
	shape-rendering: crispEdges;
}

.outerwrapper svg .year-axis line {
	stroke: none;
}

.outerwrapper svg .locations {
	fill: #999999;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;                  
	-moz-transition: all 0.2s ease;                 
	-o-transition: all 0.2s ease;   
	-ms-transition: all 0.2s ease;          
	transition: all 0.2s ease;
}

.outerwrapper svg .locations:hover {
	fill: #EE8361;
}

.outerwrapper svg .selected {
	fill: #E85338;
}

/* Calendar */
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(163,255,163)}
.RdYlGn .q1-11{fill:rgb(146,239,146)}
.RdYlGn .q2-11{fill:rgb(130,224,130)}
.RdYlGn .q3-11{fill:rgb(114,208,114)}
.RdYlGn .q4-11{fill:rgb(97,193,97)}
.RdYlGn .q5-11{fill:rgb(81,177,81)}
.RdYlGn .q6-11{fill:rgb(65,162,65)}
.RdYlGn .q7-11{fill:rgb(48,146,48)}
.RdYlGn .q8-11{fill:rgb(32,131,32)}
.RdYlGn .q9-11{fill:rgb(16,115,16)}
.RdYlGn .q10-11{fill:rgb(0,100,0)}
